@define-mixin host {
    display: inline-block;
    position: relative;
    max-width: 250px;
    width: 100%;
}

:host {
    @mixin host;
}

ac-jira-select {
    @mixin host;
}

ac-jira-user-select {
@mixin host;
}

.value {
    display: none;
}

.input {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    vertical-align: baseline;
    width: 100%;
    height: 30px;
    line-height: 1.4285714285714;
    padding: 4px 22px 4px 5px;
}

.trigger {
    background: #f5f5f5;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.42857143;
    padding: 4px 10px;
    text-decoration: none;
    white-space: nowrap;
    background-clip: padding-box;
    border-radius: 0 3.01px 3.01px 0;
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 2.14285714em;
    right: 0;
    margin: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 22px
}

.trigger:focus {
    outline: 1px dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 1px
}

.trigger:focus,
.trigger:hover {
    background: #e9e9e9;
    border-color: #999;
    color: #000;
    text-decoration: none
}

.trigger:active {
    box-shadow: inset 0 3px 6px 0 rgba(0,0,0,.1);
    background-image: none;
    background: #f5f5f5;
    text-decoration: none
}


.trigger::-moz-focus-inner {
    border: 0;
    padding: 0
}

.trigger:not(:hover, :focus) {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.trigger::before{
    border: 4px solid transparent;
    border-top-color: #333;
    content: '';
    left: calc(50% - 8px/2);
    position: absolute;
    top: calc(50% - 4px/2)
}